  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #F5F5F5;
  }

  a {
    color: #f4f4f4;
  }

  /* MAIN GRID */

  main {
    display: grid;
    grid-template-columns: .25fr 1fr .50fr .25fr;
    align-items: center;
    background-image: url("../images/footer-image.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* header */

  .header {
    display: block;
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: rgba(3, 163, 223, 0.2);
    width: 100%;
    z-index: 3;
  }

  img {
    width: 250px;
    padding: 10px 20px;
    margin-left: 0;
  }

  .header ul {
    margin-left: 0;
    margin-right: 150px;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: rgba(114, 216, 253,0.4);
    border-radius: 6px;
  }

  /* menu */

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .header .menu-icon {
    cursor: pointer;
    display: flex;
    position: relative;
    user-select: none;
    margin-left: 46%;
    margin-right: 46%;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 8px;
  }

  .header .menu-icon .navicon:after {
    top: -8px;
  }


  /* menu btn */

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked~.menu {
    max-height: 338px;
    font-size: 2em;
    font-weight: bold;
  }

  .header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /* Media query */

  @media only screen and (min-width: 1200px) {

    img {
      width: 250px;
      padding: 10px 20px;
      margin-left: 150px;
    }
    .logo {
      margin: 0;
      padding: 0;
    }

    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
      float: right;
    }
  }


  /* Form */

  form.sign-up {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    margin: 1em 0;
    color: #ecb722;
    font-weight: bold;
  }

  .sign-up label {
    margin-right: 1em;
  }

  .sign-up label:nth-last-child(odd) {
    margin-left: 1em;
  }

  input[type="submit"] {
    margin-left: 1em;
    border-radius: 3px;
    transition: 1s .5s ease;
    border: none;
  }

  input[type="submit"]:hover {
    color: rgb(3, 163, 223);
    font-weight: bold;
    background-color: #ecb722;
  }

  .sign-up input {
    border-radius: 3px;
    border: 1px dotted #03a3df;
  }

  video {
    grid-row: 3;
    grid-column: 2;
    width: 640px;
    height: 360px;
    border-radius: 6px;
  }

  aside#address {
    grid-column: 3;
    grid-row: 3;
  }

  aside#address {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(68, 68, 68, 0.8);
    width: 100%;
    border-radius: 8px;
    padding: 1em;
  }

  h3 {
    color: #f5f5f5;
  }

  p {
    color: rgb(245, 245, 245);
    letter-spacing: 1px;
  }

  .tacoma {
    width: 100%;
    border-radius: 8px;
    margin-left: 0;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }


  /* FOOTER */

  footer {
    grid-column: 1 / span 4;
    grid-row: 5;
    display: grid;
    grid-template-columns: .25fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-rows: .50fr 1fr .50fr;
    align-items: center;
    background-image: url("../images/footer-image.png");
    height: 100%;
    background-size: cover;
  }

  footer img[src="./images/logo.png"] {
    width: 50%;
    margin: 0;
    grid-column: 2 / span 2;
    justify-self: center;
  }

  footer p {
    grid-column: 2/ span 4;
    grid-row: 2;
    width: 37%;
    margin-top: 37px;
    margin-left: 8px;
    margin-bottom: 0;
  }

  footer nav {
    grid-column: 5;
    grid-row: 2;
    margin-top: 37px;
  }

  footer ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 2em;
  }

  li {
    list-style-type: none;
  }

  a.bottom-nav {
    grid-column: auto;
    grid-row: 1;
    text-decoration: none;
    font-family: Arial;
    color: #F5F5F5;
    font-weight: bold;
  }

  .bottom-nav {
    margin-right: 25px;
  }

  form#contact {
    grid-column: 4;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  h5 {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em 0;
  }

  #contact label {
    text-align: center;
    line-height: 2em;
    font-weight: bold;
  }

  small {
    grid-column: 5;
    grid-row: 3;
  }

  .social {
    grid-column: 2;
    grid-row: 3;
    display: inline-flex;
    justify-content: center;
    margin-top: 1em;
  }

  .social a>i {
    font-size: 35px;
    margin-right: 25px;
    color: #F5F5F5;
  }

  .fa-twitter-square {
    margin-right: 0;
  }

  @media (max-width: 1118px) {
    main {
      display: grid;
      grid-template-columns: 25px repeat(3, 1fr) 25px;
      justify-items: center;
      align-items: center;
    }

    .header {
      display: grid;
      justify-items: center;
      grid-column: 1 / -1;
      grid-row: 1;
      background-color: rgba(3, 163, 223, 0.2);
    }

    img {
      width: auto;
    }

    .menu-icon .navicon {
      background: #fff;
      height: 4px;
      position: relative;
      transition: background .2s ease-out;
      width: 25px;
    }

    .header .menu-icon .navicon {
      top: 0;
      width: 3em;
      height: 8px;
    }

    .header .menu-icon .navicon:before {
      top: 18px;
      width: 3em;
      height: 8px;
    }

    .header .menu-icon .navicon:after {
      top: 36px;
      width: 3em;
      height: 8px;
    }

    form.sign-up {
      grid-column: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .sign-up label:nth-last-child(odd) {
      margin: 0;
      font-size: 2em;
    }

    .sign-up input {
      width: 24em;
      height: 3em;
      border: none;
      margin: 2em 0;
    }

    .sign-up input:last-child {
      font-size: 1em;
      font-weight: bold;
    }

    video {
      grid-column: 3;
      grid-row: 3;
      width: 854px;
      height: 480px;
    }

    aside#address {
      grid-row: 4;
      display: grid;
      justify-items: center;
      grid-column: 1 / -1;
      align-items: center;
      width: 100%;
      border-radius: 8px;
    }

    aside#address > p {
      font-size: 2em;
    }

    .tacoma {
      width: 60%;
    }

    footer {
      display: flex;
      flex-direction: column;
    }

    footer img[src="./images/logo.png"] {
      width: 60%;
      margin: 0;
    }

    footer p {
      font-size: 2em;
      text-align: justify;
      width: 51%;
      margin: 37px 0;
    }

    footer nav {
      margin-top: 100px;
    }

    footer ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 0px;
      margin-bottom: 0;
      padding: 0;
      font-size: 2em;
      line-height: 75px;
    }

    h5 {
      font-size: 2em;
      margin: 3em 0 1em 0;
    }

    form#contact {
      font-size: 2em;
      align-items: center;
      line-height: 2em;
    }

    form#contact input {
      width: 24em;
      height: 3em;
      border: none;
    }

    form#contact textarea {
      width: 80%;
      height: 75%;
      font-size: 1em;
    }

    form#contact button {
      margin-top: 2em;
      font-size: 1em;
      font-weight: bold;
      width: 80%;
      height: 2em;
    }

    .social {
      display: block;
      margin-top: 5em;
    }

    .social a>i {
        font-size: 4em;
        color: #F5F5F5;
    }

    .social a > .fa-twitter-square {
        margin-right: 0;
    }

    small {
      font-size: 2em;
      margin: 3em 0;
    }
  }


  @media (max-width: 907px) {
    main {
      display: flex;
      flex-direction: column;
    }

    .header {
      display: grid;
      justify-content: center;
      grid-column: 1 / -1;
      grid-row: 1;
      background-color: rgba(3, 163, 223, 0.2);
    }

    img {
      width: auto;
      padding: 0;
    }

    video {
      width: 640px;
      height: 360px;
    }
  }

    @media (max-width: 650px) {

      main {
        display: flex;
        flex-direction: column;
      }

      img {
        width: 50%;
      }

      .sign-up input:last-child {
        font-size: 0.8em;
        font-weight: bold;
      }

      video {
        width: 426px;
        height: 240px;
      }

      aside#address {
        display: flex;
      }

      aside#address > p {
        font-size: 1em;
      }

      footer p {
        font-size: 2em;
        text-align: left;
        width: 75%;
        margin: 37px 0;
      }

      .social {
        display: block;
        margin-top: 5em;
      }

      .social a>i {
          font-size: 4em;
          margin-right: 0;
          color: #F5F5F5;
      }

      .social a > .fa-twitter-square {
          margin-right: 0;
      }

      small {
        font-size: 1.4em;
      }
    }

    @media (max-width: 450px) {

      main {
        display: flex;
        flex-direction: column;
      }

      header {
            justify-items: center;
      }

      video {
        width: 386px;
        height: 240px;
      }

      small {
        font-size: 1em;
      }
    }
